html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #111;
  font-weight: 200;
}

.content {
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px;
  min-height: 100%;
  position: relative;
}

header {
}

header canvas {
  text-align: center;
  margin: 0 auto;
}

header h1 {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 4.5em;
  font-weight: 600;
}

header p {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-left: 15px;
}

.name {
  color: #ea3556;
}

.name:after {
  content: ".js";
  color: #444;
}

a {
  color: #61D2D6;
  font-weight: 400;
}

.centered {
  text-align: center;
}

.buttons a {
  padding: 20px;
  font-size: 2em;
  text-decoration: none;
  color: #fff;
  width: 200px;
  display: inline-block;
  opacity: 0.9;
  margin-bottom: 0.83em;

  transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}

.buttons a:hover {
  text-decoration: underline;
  opacity: 1;
}

#download {
  background: #ea3556;
  margin-right: -2px;

  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#fork {
  background: #222;
  margin-left: -2px;

  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

code {
  padding: 5px;
  white-space: pre;
  line-height: 1.5;
  background: #eee;
}

.docs {
  border-top: #eee 1px solid;
}

footer {
  position: relative;
  height: 20px;
  margin-top: -20px;
  width: 100%;
  text-align: right;
  background: #111;
  color: #ddd;
}

footer div {
  display: inline-block;
  margin-right: 20px;
  margin-top: 2px;
}

.subtle {
  color: #888;

}

.subtle a {
  color: #888;
  text-decoration: none;

  transition: all ease-out 1s;
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
}

.subtle a:hover {
  color: white;
}
